BOT_TOKEN=

VERIFY_OAUTH=

MAIN_GUILD=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASS=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=

WEBSOCKET_HOST=
WEBSOCKET_PATH=

OPENAI_TOKEN=
OPENAI_MODEL=
OPENAI_URI=

API_URI=
API_KEY=